@import "../external/bulma/bulma"
@import "../external/bulma-o-steps/index"
@import "../external/bulma-tooltip/src/sass/index"
@import "../external/bulma-switch/src/sass/index"
@import "../external/bulma-calendar/src/sass/index"
@import "../external/bulma-checkradio/src/sass/index"
@import "../external/bulma-jumbo-tiny/sass/index"

///////////
// Fonts //
///////////

@font-face 
  font-family: 'Material Icons'
  font-style: normal
  font-weight: 400
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('/_content/Easy.Blazor.Bulma/fonts/iconfont/materialicons-regular-webfont.woff2') format('woff2'), url('/_content/Easy.Blazor.Bulma/fonts/iconfont/materialicons-regular-webfont.woff') format('woff'), url('/_content/Easy.Blazor.Bulma/fonts/iconfont/materialicons-regular-webfont.ttf') format('truetype'), url('/_content/Easy.Blazor.Bulma/fonts/iconfont/materialicons-regular-webfont.svg#material_iconsregular') format('svg')

.material-icons
  font-family: Material Icons
  vertical-align: text-bottom

////////////////////////
// Additional Classes //
////////////////////////

.no-select
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

///////////////
// Variables //
///////////////

$columns-hover-background-color: $scheme-main-bis !default
$columns-striped-even-background-color: $scheme-main-bis !default
$columns-striped-even-hover-background-color: $scheme-main-ter !default

///////////////
// Overrides //
///////////////

// Panel consistency

.panel
  margin-bottom: $panel-margin

// Drop-down menu mobile behaviour

+until($navbar-breakpoint)
  .navbar-dropdown
    display: none
    &.is-active
      display: block

// Checkboxes in modal

.modal-card-body
  input[type=checkbox]
    margin-right: .75em

// Input textarea height

textarea.input
  height: auto

// Column styling

.columns
  &.is-hoverable
    &:hover
      background-color: $columns-hover-background-color
    &.is-striped
      &:hover
        background-color: $columns-hover-background-color
        &:nth-child(even)
          background-color: $columns-striped-even-hover-background-color
  &.is-striped
    &:nth-child(even)
      background-color: $columns-striped-even-background-color

// Icons in grouped controls with label

.is-grouped
  .label + .input + .icon,
  .label + div + .icon
    top: calc($size-normal + 0.5em + $control-padding-vertical)
