[submodule "external/bulma"]
	path = external/bulma
	url = https://github.com/thirstyape/bulma.git
[submodule "external/bulma-o-steps"]
	path = external/bulma-o-steps
	url = https://github.com/thirstyape/bulma-o-steps.git
[submodule "external/bulma-tooltip"]
	path = external/bulma-tooltip
	url = https://github.com/thirstyape/bulma-tooltip.git
[submodule "external/bulma-calendar"]
	path = external/bulma-calendar
	url = https://github.com/thirstyape/bulma-calendar.git
[submodule "external/bulma-switch"]
	path = external/bulma-switch
	url = https://github.com/thirstyape/bulma-switch.git
[submodule "external/bulma-checkradio"]
	path = external/bulma-checkradio
	url = https://github.com/thirstyape/bulma-checkradio.git
[submodule "external/bulma-jumbo-tiny"]
	path = external/bulma-jumbo-tiny
	url = https://github.com/thirstyape/Bulma-Jumbo-Tiny.git