@page "/message"
@inherits ComponentBase

<TitleBlock Title="Message Test" />

<div class="columns p-3">
	<div class="column is-4">
		<Message Title="Information" Color="BulmaColors.Cyan">
			<p class="block">There are several additional attributes that can apply customization to the component:</p>
			<div class="content">
				<ul class="content">
					<li>header-class</li>
					<li>body-class</li>
				</ul>
			</div>
		</Message>
	</div>
	<div class="column is-8">
		<Message class="is-size-4 is-tiny" Title="Tiny Cyan Message" Color="BulmaColors.Cyan" ShowDeleteButton=false>
			<p class="block">Here's a super small message</p>
		</Message>

		<Message Title="Yellow Message" Color="BulmaColors.Yellow">
			<p class="block">Here's a regular sized message</p>
		</Message>

		<Message class="is-size-4 is-jumbo" Title="Jumbo Purple Message" Color="BulmaColors.Purple" ShowDeleteButton=false>
			<p class="block">Big message!</p>
		</Message>
	</div>
</div>
