@page "/breadcrumb"
@inherits ComponentBase

<TitleBlock Title="Bread Crumb Test" />

<div class="container pt-3">
	<BreadCrumb>
		<BreadCrumbItem DisplayText="Home" Icon="home" Url="#" />
		<BreadCrumbItem DisplayText="Widgets" Icon="settings" Url="#" />
		<BreadCrumbItem DisplayText="My Widget 1" Url="#" />
	</BreadCrumb>
</div>
