@namespace easy_blazor_bulma
@inherits ComponentBase

<a class="@FullCssClass" @onclick="ToggleMode" @attributes='AdditionalAttributes?.Where(x => x.Key != "class")'>
	<span class="material-icons mr-2" aria-hidden="true">@Icon</span>
	<span>@(IsDarkMode ? "Dark Mode" : "Light Mode")</span>
</a>
