@namespace easy_blazor_bulma
@inherits ComponentBase

<article class='@MainCssClass' @attributes='AdditionalAttributes.GetFilteredAttributes(Filter)'>
    @if (Title != null)
    {
        <div class="@HeaderCssClass">
            <p>@Title</p>
            @if (ShowDeleteButton)
            {
                <button type="button" class="delete" aria-label="delete" @onclick="Delete"></button>
            }
        </div>
    }
    <div class="@BodyCssClass">
        @ChildContent
    </div>
</article>
