@namespace easy_blazor_bulma
@inherits ComponentBase

<article class='@FullCssClass' @attributes='AdditionalAttributes?.Where(x => x.Key != "class")'>
    @if (Title != null)
    {
        <div class="message-header">
            <p>@Title</p>
            @if (ShowDeleteButton)
            {
                <button type="button" class="delete" aria-label="delete" @onclick="Delete"></button>
            }
        </div>
    }
    <div class="message-body">        
        @ChildContent
    </div>
</article>
