@namespace easy_blazor_bulma
@inherits ComponentBase

<div class='@FullCssClass'>
	@if (UseBackground)
	{
		<div class="modal-background" @onclick='() => CloseModal()'></div>
	}
	<div class="modal-card" style='@(IsFullScreen ? "width: 100%; height: 100%" : "")'>
		@if (string.IsNullOrWhiteSpace(Title) == false)
		{
			<header class="modal-card-head">
				<p class="modal-card-title">@Title</p>
				<button type="button" class="delete" aria-label="close" @onclick='() => CloseModal()'></button>
			</header>
		}
		<section class="modal-card-body">
			@(ModalBody ?? ChildContent)
		</section>
		@if (ModalFooter != null)
		{
			<footer class="modal-card-foot">
				@ModalFooter
			</footer>
		}
	</div>
</div>
