@namespace easy_blazor_bulma
@inherits ComponentBase

<div class="@FullCssClass" @attributes='FilteredAttributes'>
	<div class="navbar-link" @onclick="ToggleMenu">
		@if (string.IsNullOrWhiteSpace(Icon) == false)
		{
			<span class="material-icons" aria-hidden="true">@Icon</span>
		}
		<span class="@LinkCssClass">
			@DisplayText
		</span>
	</div>
	@if (IsFullWidth)
	{
		<div class='@DropdownCssClass'>
			<div class="container is-fluid">
				@ChildContent
			</div>
		</div>
	}
	else
	{
		<div class='@DropdownCssClass'>
			@ChildContent
		</div>
	}
</div>
