@using Microsoft.AspNetCore.Components.Routing

@namespace easy_blazor_bulma
@inherits ComponentBase

<NavLink class="@MainCssClass" ActiveClass="is-active" Match="@Match" @attributes='AdditionalAttributes.GetFilteredAttributes(Filter)'>
	@if (string.IsNullOrWhiteSpace(Icon) == false)
	{
		<span class="material-icons">@Icon</span>
	}
	<span class="@LinkCssClass">
		@ChildContent
	</span>
</NavLink>
