@namespace easy_blazor_bulma
@inherits ComponentBase

<div class='@FullCssClass' @attributes='AdditionalAttributes?.Where(x => x.Key != "class")'>
    <ul>
        @foreach (var tab in Children)
        {
			<li class="@GetChildCssClass(tab)" @onclick="() => OnSelectionChanged(tab)" @attributes='tab.AdditionalAttributes?.Where(x => x.Key != "class")'>
                <a>
                    @if (string.IsNullOrWhiteSpace(tab.Icon) == false)
                    {
                        <span class="material-icons icon pr-1">@tab.Icon</span>
                    }
                    <span>@tab.Name</span>
                </a>
            </li>
        }
    </ul>
</div>

<CascadingValue Value="this">
    @ChildContent
</CascadingValue>
