@namespace easy_blazor_bulma
@inherits ButtonBase

<button type="submit" class='@MainCssClass' @onclick='() => ShowConfirmationModal = true' @attributes='AdditionalAttributes.GetFilteredAttributes(Filter)'>
    @if (string.IsNullOrWhiteSpace(Icon) == false)
    {
        <span class="material-icons icon">@Icon</span>
    }
    <span>@DisplayText</span>
</button>

<Modal @bind-IsDisplayed=ShowConfirmationModal>
    <ModalBody>
        @ConfirmationText
    </ModalBody>
    <ModalFooter>
        <SubmitButton DisplayText="Confirm" />
        <button type="button" class="button" @onclick='() => ShowConfirmationModal = false'>
            <span class="material-icons icon">close</span>
            <span>Cancel</span>
        </button>
    </ModalFooter>
</Modal>
