@namespace easy_blazor_bulma
@inherits ComponentBase

<div class="@MainCssClass" @attributes='AdditionalAttributes.GetFilteredAttributes(Filter)'>
    @if (ShowDeleteButton)
    {
        <button type="button" class="delete" @onclick="Delete"></button>
    }
    @ChildContent
</div>
