@namespace easy_blazor_bulma
@inherits ButtonBase

<button type="reset" class='@FullCssClass' @attributes='AdditionalAttributes?.Where(x => x.Key != "class")'>
    @if (string.IsNullOrWhiteSpace(Icon) == false)
    {
        <span class="material-icons icon">@Icon</span>
    }
    <span>@DisplayText</span>
</button>
