@namespace easy_blazor_bulma
@inherits ComponentBase

<table class="@MainCssClass" @attributes='AdditionalAttributes.GetFilteredAttributes(Filter)'>
	@if (TableHead != null)
	{
		<thead>
			@TableHead
		</thead>
	}
	<tbody>
		@(TableBody ?? ChildContent)
	</tbody>
</table>
