@namespace easy_blazor_bulma
@inherits ComponentBase

<table class="@MainCssClass" @attributes='AdditionalAttributes.GetFilteredAttributes(Filter)'>
	@if (TableHead != null)
	{
		<thead class='@AdditionalAttributes.GetClass("thead-class")'>
			@TableHead
		</thead>
	}
	<tbody class='@AdditionalAttributes.GetClass("tbody-class")'>
		@(TableBody ?? ChildContent)
	</tbody>
</table>
