@page "/booleanIcon"
@inherits ComponentBase

<TitleBlock Title="Boolean Icon Test" />

<div class="container">
	<Panel class="m-3" Title="Icon Tests" Color="BulmaColors.Turquoise">
		<div class="block">
			<BooleanIcon Value=true /> True
		</div>
		<div class="block">
			<BooleanIcon Value=false /> False
		</div>
	</Panel>
</div>
