@namespace easy_blazor_bulma
@typeparam TValue
@inherits ComponentBase

<label class="@FullCssClass" @attributes='FilteredAttributes'>
	<span class="@TooltipCssClass" data-tooltip="@Tooltip">@DisplayText</span>
</label>
