@namespace easy_blazor_bulma
@typeparam TValue
@inherits ComponentBase

<label class="@MainCssClass" @attributes='AdditionalAttributes.GetFilteredAttributes(Filter)'>
	<span class="@TooltipCssClass" data-tooltip="@Tooltip">@DisplayText</span>
</label>
