@namespace easy_blazor_bulma
@inherits ComponentBase

<div class="@MainCssClass" @attributes='AdditionalAttributes.GetFilteredAttributes(Filter)'>
	<div>
		@if (ChildContent != null)
		{
			@ChildContent
		}
		else
		{
			<p class="heading">@Heading</p>
			<p class="title">@Title</p>
		}
	</div>
</div>
