@namespace easy_blazor_bulma
@inherits ComponentBase

<div class="@FullCssClass" @attributes='AdditionalAttributes?.Where(x => x.Key != "class")'>
	<div>
		@if (ChildContent != null)
		{
			@ChildContent
		}
		else
		{
			<p class="heading">@Heading</p>
			<p class="title">@Title</p>
		}
	</div>
</div>
