@using System.ComponentModel.DataAnnotations

@page "/inputSelectEnum"
@inherits ComponentBase

<TitleBlock Title="Input Select Enum Test" />

<div class="columns p-3">
	<div class="column is-4">

	</div>
	<div class="column is-8">
		<EditForm Model="InputModel">
			<div class="field">
				<Label For="() => InputModel.EnumSelectTest" TooltipMode="TooltipDisplayMode" />
				<div class="control has-icons-left has-icons-right">
					<InputSelectEnum class="is-fullwidth" @bind-Value=InputModel.EnumSelectTest />
				</div>
			</div>
			<div class="field">
				<Label For="() => InputModel.NullableEnumSelectTest" TooltipMode="TooltipDisplayMode" />
				<div class="control has-icons-left has-icons-right">
					<InputSelectEnum class="is-fullwidth" @bind-Value=InputModel.NullableEnumSelectTest NullText="Please select a value" HideZeroOption=true />
				</div>
			</div>
		</EditForm>
	</div>
</div>

@code {
	private readonly PageModel InputModel = new();

	private readonly TooltipOptions TooltipDisplayMode = TooltipOptions.Right | TooltipOptions.HasArrow | TooltipOptions.Multiline;

	private class PageModel
	{
		[Display(Name = "Enum Test", Description = "Input to test modifying a non-nullable enum value.")]
		public TestEnum EnumSelectTest { get; set; } = TestEnum.One;

		[Display(Name = "Nullable Enum Test", Description = "Input to test modifying a nullable enum value.")]
		public TestEnum? NullableEnumSelectTest { get; set; }
	}

	private enum TestEnum
	{
		None,
		One,
		Two,
		Three,
		Four,
		Five,
		Six,
		Seven,
		Eight
	}
}
