@using System.ComponentModel.DataAnnotations

@page "/inputCharacter"
@inherits ComponentBase

<TitleBlock Title="Input Character Test" />

<div class="container pt-3">
	<Message Title="Information" Color="BulmaColors.Cyan">
		<p class="block">Note that the Input Character component supports keyboard navigation using the following keys:</p>
		<div class="content">
			<ul class="content">
				<li>Up Arrow</li>
				<li>Down Arrow</li>
				<li>Left Arrow</li>
				<li>Right Arrow</li>
				<li>Tab</li>
				<li>Enter</li>
				<li>Esc</li>
			</ul>
		</div>
	</Message>

	<EditForm Model="InputModel">
		<div class="columns">
			<div class="column field">
				<Label class="is-size-4" data-tooltip="Input to test modifying a non-nullable char value." TValue=char DisplayText="Character Test" TooltipMode="TooltipDisplayMode" />
				<InputCharacter @bind-Value=InputModel.CharacterTest />
			</div>
			<div class="column field">
				<Label class="is-size-4" For="() => InputModel.NullableCharacterTest" TooltipMode="TooltipDisplayMode" />
				<InputCharacter @bind-Value=InputModel.NullableCharacterTest Columns="5" IsRounded=false ShowCaseChange=false ActiveColor="BulmaColors.Purple" Characters="Charset" />
			</div>
		</div>
	</EditForm>
</div>

@code {
	private PageModel InputModel = new();

	private TooltipOptions TooltipDisplayMode = TooltipOptions.Right | TooltipOptions.HasArrow | TooltipOptions.Multiline;
	private char[] Charset = ['!', '@', '#', '%', '^', '&', '*', '(', ')', '1', '2', '3', '4', '5', '6', '7', '8', '9', '0'];

	private class PageModel 
	{
		public char CharacterTest { get; set; } = 'A';

		[Display(Name = "Nullable Character Test", Description = "Input to test modifying a nullable char value.")]
		public char? NullableCharacterTest { get; set; }
	}
}
