@namespace easy_blazor_bulma
@typeparam TValue
@inherits InputBase<TValue>

<div class='@DropDownCssClass'>
	<div class='@DropDownTriggerCssClass'>
		<input type="search" class='@FullCssClass' placeholder="Search..." autocomplete="off" value='@InputValue' @oninput='OnInput' @onclick='OnClick' @onfocus='OnFocus' @onblur='OnBlur' @onkeydown='OnKeyDown' @onkeydown:preventDefault="OnKeyDownPreventDefault" @onkeyup='OnKeyUp' @ref=Element @attributes='FilteredAttributes' />

		@if (string.IsNullOrWhiteSpace(Icon) == false)
		{
			<span class="material-icons icon is-left">@Icon</span>
		}
	</div>
	<div class='@DropDownMenuCssClass'>
		<div class="dropdown-content">
			@foreach (var item in Items.Take(DisplayCount ?? int.MaxValue))
			{
				<a class='@GetDropDownItemCssClass(item)' @onclick='x => OnItemSelected(item)'>@DisplayValue(item)</a>
			}
		</div>
	</div>
</div>
