<Navbar class="is-dark" DisplayText="Easy Blazor Bulma" DisplayImageUrl="favicon.png">
	<NavbarStart>
		<NavbarDropdown DisplayText="Components" tabindex="0">
			<NavbarItem href="message">Message</NavbarItem>
			<NavbarItem href="modal">Modal</NavbarItem>
			<NavbarItem href="panel">Panel</NavbarItem>
			<NavbarItem href="steps">Steps</NavbarItem>
			<NavbarItem href="tabs">Tabs</NavbarItem>
		</NavbarDropdown>
		<NavbarDropdown DisplayText="Elements" tabindex="0">
			<NavbarItem href="booleanIcon">Boolean Icon</NavbarItem>
			<NavbarItem href="buttons">Buttons</NavbarItem>
			<NavbarItem href="notification">Notifications</NavbarItem>
			<NavbarItem href="progressBar">Progress Bar</NavbarItem>
		</NavbarDropdown>
		<NavbarDropdown DisplayText="Errors" IsFullWidth=true tabindex="0">
			<div class="columns is-multiline">
				<div class="column is-4">
					<h1 class="title is-4 is-mega-menu-title">Client error responses</h1>

					<NavbarItem href="400" Icon="warning_amber">400 Bad Request</NavbarItem>
					<NavbarItem href="401" Icon="block">401 Unauthorized</NavbarItem>
					<NavbarItem href="403" Icon="disabled_visible">403 Forbidden</NavbarItem>
					<NavbarItem href="404" Icon="troubleshoot">404 Not Found</NavbarItem>
					<NavbarItem href="405" Icon="disabled_visible">405 Method Not Allowed</NavbarItem>
					<NavbarItem href="408" Icon="hourglass_disabled">408 Request Timeout</NavbarItem>
					<NavbarItem href="409" Icon="warning_amber">409 Conflict</NavbarItem>
					<NavbarItem href="422" Icon="error_outline">422 Unprocessable Entity</NavbarItem>
					<NavbarItem href="423" Icon="lock">423 Locked</NavbarItem>
					<NavbarItem href="426" Icon="browser_updated">426 Upgrade Required</NavbarItem>
				</div>
				<div class="column is-4">
					<h1 class="title is-4 is-mega-menu-title">Server error responses</h1>

					<NavbarItem href="500" Icon="warning_amber">500 Internal Server Error</NavbarItem>
					<NavbarItem href="501" Icon="troubleshoot">501 Not Implemented</NavbarItem>
					<NavbarItem href="502" Icon="router">502 Bad Gateway</NavbarItem>
					<NavbarItem href="503" Icon="signal_disconnected">503 Service Unavailable</NavbarItem>
					<NavbarItem href="504" Icon="hourglass_disabled">504 Gateway Timeout</NavbarItem>
				</div>
				<div class="column is-4">
					<h1 class="title is-4 is-mega-menu-title">Error Handling</h1>

					<NavbarItem href="boundary" Icon="error">Extended Error Boundary</NavbarItem>
				</div>
			</div>
		</NavbarDropdown>
		<NavbarDropdown DisplayText="Form" tabindex="0">
			<NavbarItem href="inputAutocomplete">Input Autocomplete</NavbarItem>
			<NavbarItem href="inputCharacter">Input Character</NavbarItem>
			<NavbarItem href="inputDateTime">Input Date Time</NavbarItem>
			<NavbarItem href="inputDuration">Input Duration</NavbarItem>
			<NavbarItem href="inputFlaggedEnum">Input Flagged Enum</NavbarItem>
			<NavbarItem href="inputNumberPad">Input Number Pad</NavbarItem>
			<NavbarItem href="inputRadioGroupObject">Input Radio Group Object</NavbarItem>
			<NavbarItem href="inputSelectEnum">Input Select Enum</NavbarItem>
			<NavbarItem href="inputSelectObject">Input Select Object</NavbarItem>
			<NavbarItem href="inputSwitch">Input Switch</NavbarItem>
		</NavbarDropdown>
		<NavbarDropdown DisplayText="Layout" tabindex="0">
			<NavbarItem href="hero">Hero</NavbarItem>
			<NavbarItem href="level">Level</NavbarItem>
		</NavbarDropdown>
	</NavbarStart>
	<NavbarEnd>
		<ThemeSelector />
	</NavbarEnd>
</Navbar>
