@namespace easy_blazor_bulma

@if (Value)
{
    <span class='@FullCssClass("has-text-success")'>check_circle</span>
}
else
{
    <span class='@FullCssClass("has-text-danger")'>cancel</span>
}
